# Pandas Assignment

In [ ]:
#Importing impo
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [ ]:
df

### 1. Some values in the the FlightNumber column are missing. These numbers aremeant to increase by 10 with each row so 10055 and 10075 need to be put inplace. Fill in these missing numbers and make the column an integer column(instead of a float column).

In [ ]:
df['FlightNumber']=df['FlightNumber'].interpolate().astype(int)

In [ ]:
df

### 2. The From_To column would be better as two separate columns! Split eachstring on the underscore delimiter _ to give a new temporary DataFrame withthe correct values. Assign the correct column names to this temporaryDataFrame.

In [ ]:
From = []
To = []
for i in df["From_To"]:
    f,t = i.split("_")
    From.append(f)
    To.append(t)

In [ ]:
df["From"] = From
df["To"] = To

In [ ]:
df

### 3. Notice how the capitalisation of the city names is all mixed up in thistemporary DataFrame. Standardise the strings so that only the first letter isuppercase (e.g. "londON" should become "London".)

In [ ]:
From = []
for i in df["From"]:
    From.append(i.capitalize())
    
To = []
for i in df["To"]:
    To.append(i.capitalize())

In [ ]:
df["From"] = From
df["To"] = To

In [ ]:
df

### 4. Delete the From_To column from df and attach the temporary DataFramefrom the previous questions.

In [ ]:
df.drop(["From_To"], axis=1, inplace=True)

### 5. In the RecentDelays column, the values have been entered into theDataFrame as a list. We would like each first value in its own column, eachsecond value in its own column, and so on. If there isn't an Nth value, the valueshould be NaN.Expand the Series of lists into a DataFrame named delays, rename the columnsdelay_1, delay_2, etc. and replace the unwanted RecentDelays column in dfwith delays.

In [ ]:
delays = pd.DataFrame(df['RecentDelays'].tolist())

In [ ]:
delays

In [ ]:
delays.rename(columns = {0:"Delay_1", 1:"Delay_2", 2:"Delay_3"}, inplace=True)

In [ ]:
delays

In [ ]:
df = pd.concat([df,split_df], axis=1)

In [ ]:
df